<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
  <session-factory>
        
    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property
        name="connection.url">jdbc:mysql://localhost/notebook_db</property>
    <property name="connection.username">jim</property>
    <property name="connection.password">s3cret</property>
    <property name="connection.shutdown">true</property>
    
    <!-- JDBC connection pool (use the built-in one) -->
    <property name="connection.pool_size">1</property>
    
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    
    <!-- Disable the second-level cache  -->
    <property
     name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    
    <!-- List all the mapping documents we're using -->
    <mapping resource="com/oreilly/hh/data/Track.hbm.xml"/>
    <mapping resource="com/oreilly/hh/data/Album.hbm.xml"/>
    <mapping resource="com/oreilly/hh/data/Artist.hbm.xml"/>
        
  </session-factory>
</hibernate-configuration>
